@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', Tahoma, sans-serif;
    background-image: linear-gradient(#FFFFFF, #F6F7FB) ;
}

main {
    max-width: 500px;
    height: 92vh;
    padding-left: .5em;
    padding-right: .5em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto minmax(2.2rem,14vh);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "dog-display-section"
        "interaction-section"
    ;
    flex-direction: column;
}

header {
    grid-area: 'header-nav';
    height: 8vh;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

header img {
    height: 2.525em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

/*-- Main section where dog profile picture and info is displayed --*/

.dog-display {
    grid-area: 'dog-display-section';
    width: 100%;
    background-size: cover;
    background-position: center center;
    text-align: left;
    border-radius: .5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

/*-- Overlaid dog name and bio styling and formatting --*/

.detail-overlay {
    font-weight: bold;
    text-align: left;
    font-family: 'Poppins', Tahoma, sans-serif;
    color: white;

    margin: auto 1em 1.5em 1em;
}

.detail {
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 1.5em;
}

.dog-opener {
    color: #b7b7b7;
    font-weight: lighter;
}

/*-- Like and Dislike Buttons and the area they are in --*/

.interactions {
    grid-area: 'interaction-section';
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1.2em;
}
.interaction-button {
    height: 5rem;
    width: 5rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px #e9e9ea;
}

.like-button:hover {
    background-color: #DBFFF4;
    box-shadow: 0 10px 20px #CCF1E6;
}

.dislike-button:hover {
    background-color: #FFE7EF;
    box-shadow: 0 10px 20px #EDD9DF;
}

.interaction-button img {
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/*-- Like/Nope Badge Overlay --*/

.interaction-badge {
    width: 230px;
    z-index: 4;
    margin-bottom: auto;
    margin-top: 5em;
    margin-left: 3em;
    transform: rotate(-30deg);
    
}

/*-- Utilities --*/

.hidden {
    display: none;
}
