@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', Tahoma, sans-serif;
    background-image: linear-gradient(#FFFFFF, #F6F7FB) ;
}

main {
}

header {
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
header img {
    height: 2.525em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.dog-display {
    position: absolute;
    top: 5em;
    bottom: 8em;
    left: .5em;
    right: .5em;
    overflow: hidden;
    text-align: left;
    border-radius: .5em;

}

.dog-profile-picture {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    background-position: center center;
}

.detail-overlay {
    position: absolute;
    bottom: 1em;
    left: 18px;
    font-weight: bold;
    text-align: left;
    font-family: 'Poppins', Tahoma, sans-serif;
    color: white;
}

.detail {
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 1.5em;
}

.dog-opener {
    color: #b7b7b7;
    font-weight: lighter;

}

.interactions {

    height: 8em;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1.2em;
}
.interaction-button {
    height: 5rem;
    width: 5rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px #e9e9ea;
}

.like-button:hover {
    background-color: #DBFFF4;
    box-shadow: 0 10px 20px #CCF1E6;
}

.dislike-button:hover {
    background-color: #FFE7EF;
    box-shadow: 0 10px 20px #EDD9DF;
}

.interaction-button img {
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.interaction-badge {
    width: 230px;
    z-index: 4;
    position: absolute;
    top: 4em;
    left: 2em;
    transform: rotate(-30deg);
}

.hidden {
    display: none;
}
